<div class="generic-title">
    <h1>merge</h1>
</div>
<div class="default-container">
    <h2>Números aleatórios</h2>
    <h3>Número atual: {{currentNumber}}</h3>
    <mat-chip-list>
        <mat-chip color="primary" *ngFor="let n of ramdomNumbers" selected>{{ n }}</mat-chip>
    </mat-chip-list>
    <button mat-icon-button (click)="refresh()" color="primary">
        <mat-icon>refresh</mat-icon>
    </button>
</div>