<div class="generic-title">
    <h1>combineLatest</h1>
</div>
<div class="chart-container">
    <h1>Quantidade de acessos por continente em tempo real</h1>
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="chartData"
      [gradient]="false"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="false"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [yScaleMax]="200">
    </ngx-charts-bar-vertical>

    <div class="history-container">
        <div class="history-actions">
            <button mat-raised-button color="primary" *ngIf="!paused" (click)="freeze()">
                Pausar
                <mat-icon>pause</mat-icon>
            </button>
            <button mat-raised-button color="primary" *ngIf="paused" (click)="getCartData()">
                Continuar
                <mat-icon>play_arrow</mat-icon>
            </button>
        </div>
        <div class="history-content">
            <p *ngFor="let item of history">
                America({{item[0].value}}) - Europa({{ item[1].value }}) - Africa({{item[2].value }})
            </p>
        </div>
    </div>
</div>