.chart-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
} 

.history {
    &-container {
        display: flex;
        flex-direction: column;
    }
    &-actions {
        display: flex;
        justify-content: center;
        button {
            margin: 16px;
        }
    }
    &-content {
        max-height: 200px;
        padding: 16px;
        overflow: auto;
    }
}