<div class="generic-title">
    <h1>map</h1>
</div>
<div class="default-container">
    <h2>Nome da rua baseado no CEP</h2>
    <div class="search-bar">
        <div class="input-control">
            <label>CEP</label>
            <input [formControl]="inputControl" type="text" maxlength="8">
        </div>
        <button class="default-bt" (click)="loadCep()" [disabled]="inputControl.invalid">
            buscar
        </button>
    </div>

    <h2 *ngIf="street">Logradouro: {{street}}</h2>

</div>
