<div class="generic-title">
    <h1>pairwise</h1>
</div>
<div class="default-container">
    <h2>
        Valor anterior: {{values[0]}}
    </h2>
    <h2>
        Valor atual: {{values[1]}}
    </h2>

    <h3 *ngIf="values[0] > values[1]">{{values[0]}} > {{values[1]}}</h3>    
    <h3 *ngIf="values[0] < values[1]">{{values[0]}} < {{values[1]}}</h3>    
    <h3 *ngIf="values[0] === values[1]">{{values[0]}} = {{values[1]}}</h3>    
</div>