<div class="generic-title">
    <h1>filter</h1>
</div>
<div class="default-container">
    <h2>Números pares</h2>
    <mat-chip-list>
        <mat-chip color="primary" *ngFor="let n of onlyEven" selected>{{ n }}</mat-chip>
    </mat-chip-list>
    <h2>Todos números retornados</h2>
    <mat-chip-list>
        <mat-chip color="primary" *ngFor="let n of allNumbers" selected>{{ n }}</mat-chip>
    </mat-chip-list>
</div>