<mat-toolbar>
  <button mat-icon-button routerLink="home">
    <mat-icon>home</mat-icon>
  </button>
  <h1>Horizontal - A magia do RxJS</h1>
</mat-toolbar>
<section>
  <router-outlet></router-outlet>
</section>