<div class="generic-title">
    <h1>subject</h1>
</div>
<div class="default-container">
    <button mat-raised-button color="primary" (click)="increment()">Incrementar +</button>

    <div class="squares">
        <app-item [valueSubject$]="valueSubject$"></app-item>
        <app-item [valueSubject$]="valueSubject$"></app-item>
    </div>
</div>