<div class="generic-title">
    <h1>catchError</h1>
</div>
<div class="default-container">
    <h2>Informações obtidas de uma api:</h2>
    <h2>Nome: {{data?.name}}</h2>
    <h2>Idade: {{data?.age}}</h2>
</div>