<div class="generic-title">
    <h1>forkJoin</h1>
</div>
<div class="forkjoin-container">
    <h2>População do continente americano</h2>
    <div class="forkjoin-content">
        <span>População: {{americaPopulation}}</span>
        <span>População por km²: {{peoplePerArea}}</span>
    </div>
</div>