.forkjoin-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.forkjoin-content {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    margin: 52px 0 0;
    span {
        margin: 32px;
    }
}