/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.generic-title {
    margin: 16px 32px 20px;
}

.default-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.input-control {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    input {
        height: 28px;
        font-size: 26px;
        border-radius: 8px;
        border: 2px solid rgb(119, 0, 255);
        padding: 0 6px;
    }
}

.default-bt {
    background-color: rgb(119, 0, 255);
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 4px;
    height: 30px;
    margin: 0 16px;
    cursor: pointer;
    font-weight: bold;
    &:disabled {
        background-color: rgba(90, 2, 173, 0.192); 
    }
}