<div class="generic-title">
    <h1>debounceTime</h1>
</div>
<div class="default-container">
    <div class="input-control">
        <label>Texto</label>
        <input [formControl]="inputControl" type="text">
    </div>

    <h2>Texto digitado após 0,5 segundo:</h2>
    <h2>{{value}}</h2>

</div>