<div class="generic-title">
    <h1>Operadores</h1>
</div>
<h2>Criação</h2>
<ul>
    <li routerLink="combine-latest">
        compineLatest
    </li>
    <li routerLink="fork-join">
        forkJoin
    </li>
    <li routerLink="merge">
        <a>merge</a>
    </li>
    <li routerLink="from-event">
        fromEvent
    </li>
    <li routerLink="interval">
        interval
    </li>
</ul>
<h2>Pipeable</h2>
<ul>
    <li routerLink="pairwise">
        pairwise
    </li>
    <li routerLink="catch-error">
        catchError
    </li>
    <li routerLink="map">
        map
    </li>
    <li routerLink="filter">
        filter
    </li>
    <li routerLink="debounce-time">
        debounceTime
    </li>
</ul>
<div class="generic-title">
    <h1>Subjects</h1>
</div>
<ul>
    <li routerLink="subject">
        subject
    </li>
    <li routerLink="behavior-subject">
        behaviorSubject
    </li>
</ul>