ul {
    width: 400px;
    list-style-type: none;
    li {
        cursor: pointer;
        padding: 8px;
        &:hover {
            color: white;
            background-color: rgb(57, 1, 83);
        }
    }
}

h2 {
    margin-left: 16px;
}
